.Content {
  border: 1px solid #dadadf;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  color: aliceblue;
}

a {
  color: purple;
}

.Paragraph {
  font-size: 20px;
}

.Bold {
  color: #bc3908;
}

.SocialMedia {
    justify-content: center;
}

.Copyright {
    justify-content: center;
}

.Copyright i {
    color: #ff5757;
}
