.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #ffffff !important;
}

.Button:active {
    background-color: #2142b2 !important;
}

.Button:focus {
    background-color: #ff6d00;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Purple,
.PurpleOutline:hover,
.Bright:hover {
    background-color: #6f2dbd;
    color: #ffffff;
}

.PurpleOutline,
.Purple:hover {
    background-color: #701161;
    color: #ffffff;
}

.Black,
.BlackOutline:hover {
    background-color: #701161;
    color: #ffffff;
}

.Black:hover,
.BlackOutline {
    background-color: #6f2dbd;
    color: #ffffff;
}

.Bright {
    background-color: #701161;
    color: #ffffff;
}