 .Chronicle {
  background-color: #ead7d7;
  border: 1px solid #dadadf;
  border-radius: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.Chronicle figure,
h5 {
  margin: 0 0;
}

.thumbsup {
  color: #f85032;
}

.thumbsup:hover {
  color: #2142b2;
}

.thumbs-upOutline:hover {
  color: #f85032;
}