.NavBar {
  background: rgb(112, 17, 97);
  background: radial-gradient(circle, rgba(112, 17, 97, 1) 0%, rgba(21, 3, 75, 1) 100%);
}

.NavLink {
  min-width: fit-content;
  padding: 5px;
}

.DropdownColours {
  background: rgb(112, 17, 97);
  background: radial-gradient(circle, rgba(112, 17, 97, 1) 0%, rgba(21, 3, 75, 1) 100%);
  border-radius: 10px;
}

.DropdownColours:hover {
  background-color: #ff5757;
}
.DropdownToggle {
  background: #6f2dbd;
  border-color: #6f2dbd;
}

.DropdownToggle:hover {
  background-color: #ff5757;
  border-color: #ff5757;
}

.DropdownToggle:active {
  background-color: #6f2dbd;
  border-color: #6f2dbd;
}

.DropdownToggle:focus {
  background-color: #ff5757;
  border-color:#ff5757;
}

.Active i {
  color: #ff5757;
}
