.App {
  font-family: "Chakra Petch", sans-serif;
  background-color: #f8f8f8;
  background: rgb(21, 3, 75);
  background: linear-gradient(71deg, rgba(21, 3, 75, 1) 21%, rgba(223, 96, 96, 1) 53%, rgba(25, 91, 122, 1) 94%);
  min-height: 100vh;
}

.Main {
  padding-top: 110px;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dadadf;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #0b132b;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #6247aa;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: whitesmoke;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: whitesmoke;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
