.App {
  font-family: "Reddit Mono", monospace, sans-serif;
  background-color: #f8f8f8;
  background: rgb(112, 17, 97);
  background: radial-gradient(circle, rgba(112, 17, 97, 1) 0%, rgba(21, 3, 75, 1) 100%);
  min-height: 100vh;
}

.Main {
  padding-top: 110px;
}

.Content {
  background-color: #ead7d7;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dadadf;
}

.FillerImage {
  object-fit: cover;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: fill;
}

* {
  box-sizing: border-box;
}

a {
  color: #7400b8;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #28bbb8;
}

a:hover i {
  color: purple;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #ff9254;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: red;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

